@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .navbar {
  background-color: rgba(255, 255, 255, 0.096); }

header .navbar-toggler {
  max-width: 50px;
  border: none;
  font-size: 1.25rem; }

header .navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.441);
  border-radius: 5px; }

header .navbar-toggler:focus, header .btn-close:focus {
  border: none;
  outline: none;
  box-shadow: none; }

header .nav-link {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #d4d4d4; }

header .navbar-brand img {
  max-width: 40px;
  max-height: auto; }

header .offcanvas-header {
  min-width: 992px; }

body main .classgeneral {
  background: url(../assets/textura-grano-fondo.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto; }

body main div {
  height: 100vh;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1;
  color: white;
  flex-direction: column; }
  body main div h1 {
    color: white;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 3em; }

body main div .Presentacion {
  display: grid;
  overflow-wrap: break-word;
  justify-content: space-between;
  grid-template-columns: 1fr 3fr;
  background-color: rgba(67, 67, 67, 0.703);
  width: 100%;
  height: auto;
  padding: 0px 3.125rem;
  align-items: center;
  justify-items: center;
  gap: 3.125rem; }
  body main div .Presentacion img {
    max-width: 300px;
    max-height: 300px;
    margin: 15px;
    border-radius: 5px; }
  body main div .Presentacion p {
    color: white;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.6em;
    line-height: 1.3;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center; }

footer .classFooter {
  list-style-type: none;
  text-align: right;
  background-color: #cbcbcb;
  color: black;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1px; }
