footer{
    .classFooter{
        list-style-type: none;
        text-align: right;
        
        background-color: rgb(203, 203, 203);
        color: black;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1px;
    }
}